In [1]:
import pandas as pd
import numpy as np

In [2]:
lines = pd.read_csv('lines.csv', sep=',', thousands=',',encoding='unicode_escape')

In [3]:
lines

    team1 team2 favorite spread  over_under  team1_score  team2_score
0     CHA   POR      POR   -8.0       229.5          111          123
1     BKN    SA      BKN   -4.0       233.5          124          113
2     DEN   CHI      DEN   -4.5       226.5          118          112
3     UTA    NO      UTA   -7.0       237.5          124          129
4     CLE   HOU      HOU   -3.0       216.5          101           90
..    ...   ...      ...    ...         ...          ...          ...
437   MIN    LA      LAL  -10.5       229.0           91          127
438   PHX   SAC      PHX   -3.5       226.0          116          100
439    GS   CHI       GS   -3.5       229.5          129          128
440   BOS   IND      BOS   -3.0       220.5          107          108
441   MIL    NY      MIL  -13.0       222.0          110          130

[442 rows x 7 columns]

In [4]:
lines['point_total'] = lines['team1_score'] + lines['team2_score']

In [5]:
lines['result'] = 'o'
for i in range(0, len(lines['result'])):
    if lines['point_total'][i] < lines['over_under'][i]:
         lines['result'][i] = 'u'
lines

<ipython-input-5-963f9a0e7119>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lines['result'][i] = 'u'

,team1,team2,favorite,spread,over_under,team1_score,team2_score,point_total,result
0,CHA,POR,POR,-8.0,229.5,111,123,234,o
1,BKN,SA,BKN,-4.0,233.5,124,113,237,o
2,DEN,CHI,DEN,-4.5,226.5,118,112,230,o
3,UTA,NO,UTA,-7.0,237.5,124,129,253,o
4,CLE,HOU,HOU,-3.0,216.5,101,90,191,u
...,...,...,...,...,...,...,...,...,...
437,MIN,LA,LAL,-10.5,229.0,91,127,218,u
438,PHX,SAC,PHX,-3.5,226.0,116,100,216,u
439,GS,CHI,GS,-3.5,229.5,129,128,257,o
440,BOS,IND,BOS,-3.0,220.5,107,108,215,u
441,MIL,NY,MIL,-13.0,222.0,110,130,240,o

In [6]:
lines['point_diff'] = abs(lines['over_under'] - lines['point_total'])
for i in range(0, len(lines['point_diff'])):
    if lines['result'][i] == 'u':
        lines['point_diff'][i] *= -1
lines

<ipython-input-6-0a0517db5a3f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lines['point_diff'][i] *= -1

,team1,team2,favorite,spread,over_under,team1_score,team2_score,point_total,result,point_diff
0,CHA,POR,POR,-8.0,229.5,111,123,234,o,4.5
1,BKN,SA,BKN,-4.0,233.5,124,113,237,o,3.5
2,DEN,CHI,DEN,-4.5,226.5,118,112,230,o,3.5
3,UTA,NO,UTA,-7.0,237.5,124,129,253,o,15.5
4,CLE,HOU,HOU,-3.0,216.5,101,90,191,u,-25.5
...,...,...,...,...,...,...,...,...,...,...
437,MIN,LA,LAL,-10.5,229.0,91,127,218,u,-11.0
438,PHX,SAC,PHX,-3.5,226.0,116,100,216,u,-10.0
439,GS,CHI,GS,-3.5,229.5,129,128,257,o,27.5
440,BOS,IND,BOS,-3.0,220.5,107,108,215,u,-5.5
441,MIL,NY,MIL,-13.0,222.0,110,130,240,o,18.0